@charset "utf-8";

/** General Layout **/

* {margin:0 auto;}

html, body {
	margin:0px;
	padding:0px;
	font-family:"Lucida Grande", Garuda, sans-serif;
	font-size:14px;
	position:relative;
	line-height:1.6em;
	background:#fff;
	color:#6e6e6e;
	text-align:left;
	height: 100%;
}

.clear {
	clear:both;
	height:0;
	width:0;
	line-height:0;
	font-size: 0px;
}

.hidden {display:none;}

.no-margin {margin-right:0 !important;}

.round {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}

#main-colum input, #main-colum textarea {-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}

#site-warpper {
   height:auto !important;
   height:100%;
   min-height:100%;
   position:relative;
   background:#fff;
   overflow:hidden;
}

#footer {
height:100px;
padding:0;
margin-top:-100px;
position:relative;
background:#202020 url(../images/footer_bg.jpg) repeat-x left top;
font-size:10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
text-transform:uppercase;
color:#6e6e6e;
}

.container {margin:0 auto; width:960px; position:relative;}

/** Typography **/

h1 {font-weight:normal; font-size:30px; line-height:34px;}
h2 {font-weight:normal; font-size:26px; line-height:34px;}
h3 {font-weight:normal; font-size:20px; line-height:30px;}
h4 {font-weight:normal; font-size:18px; line-height:20px;}
h5 {font-weight:normal; font-size:15px; line-height:18px;}
h6 {font-weight:normal; font-size:13px; line-height:16px;}

h1, h2, h3, h4, h5, h6 {text-transform:uppercase; color:#80b000;}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {margin-bottom:15px;}

#main-colum ul {list-style:circle; list-style-position:inside; padding:0 0 20px;}
#main-colum ol {list-style:decimal; list-style-position:inside; padding:0 0 20px;}

#content p {margin:0 0 15px;}

#main-colum a {text-decoration:none;}
#main-colum a:hover {text-decoration:underline;}

#content blockquote {margin:10px 0 20px; padding:12px ; background:#ececec; color:#737373; border-top:#dbdbdb 1px solid; border-bottom:#dbdbdb 1px solid; font-family:Georgia, "Times New Roman", Times, serif; font-size:14px; font-style:italic; line-height:1.6em;}
blockquote cite {font-size:12px; color:#3B3B3B; text-transform:capitalize;}
blockquote cite a {color:#3B3B3B;}

#content blockquote p {margin-top:0;}

/** Header **/

#home-page #header {position:relative; background: url(../images/green/home_bg.jpg) repeat-x left top; height:333px; overflow:hidden;}
#sub-page #header {position:relative; background:url(../images/green/sub_bg.jpg) repeat-x left top; height:253px; overflow:hidden;}

#logo {height:80px; width:158px; display:block; background:url(../images/green/logo.png) no-repeat; text-indent:-9999px; float:left; z-index:5; position:absolute; top:0; left:0;}
#logo h1 , #logo h1 a {display:block; height:100%; width:100%; text-indent:-9999px; z-index:10;}

ul.sf-menu {font-family:Verdana, Arial, Helvetica, sans-serif; text-transform: uppercase; font-size:12px; position:relative; 
list-style-type:none; list-style-position:outside; padding-top:11px; height:42px; margin-left:170px;}
.sf-menu li {float:left; margin-right:10px; height:30px;}
.sf-menu li a {display:block; text-decoration:none; text-transform:uppercase; line-height:30px; color:#FFFFFF; height:30px;
padding-right:10px; padding-left:10px;}	
.sf-menu a, .sf-menu a:visited  {color:#fff;}
.sf-menu li.selected, .sf-menu li:hover {background:url(../images/green/nav_left.png) no-repeat 0 0;}
.sf-menu li.selected a, .sf-menu li a:hover {background:url(../images/green/nav_right.png) no-repeat center right;}
.sf-menu li.selected li a {background:none;}

/** Slider **/

#home-page #slider {height:230px; width:960px; position:absolute; background:url(../images/green/home_slider.jpg) no-repeat center top; left:0;}
#sub-page #slider {height:150px; width:960px; position:absolute; background:url(../images/green/sub_slider.jpg) no-repeat center top; left:0;}

#slider #strap-line {position:absolute; top:102px; left:55px; text-align:center; width:430px; color:#fff;}
#slider #strap-line h2 {color:#fff;}
#slider #latest-project {position:absolute; width:390px; height:163px; top:34px; right:10px;}

.slidshow-wrap {position:absolute; width:274px; height:150px; top:6px; margin-left:60px;}
.slidshow-wrap ul {width:274px;}

#buttons {position:absolute; width:387px; height:23px; margin-top:70px; right:11px; top:34px;}
#buttons a {display:block; text-indent:-9999px;}

#buttons a.prev {float:left; background:url(../images/buttons.png) no-repeat top left; width:22px; height:23px;}
#buttons a.prev:hover {background:url(../images/buttons.png) no-repeat bottom left;}

#buttons a.next {float:right; background:url(../images/buttons.png) no-repeat top right; width:22px; height:23px;}
#buttons a.next:hover {background:url(../images/buttons.png) no-repeat bottom right;}

#slider #page-name {position:relative; top:0; left:0; margin-top:60px;}
#slider #page-name h2 {color:#fff; margin-bottom:10px;}
#slider #page-name .tagline {font-size:15px; color:#202020; float:left; text-transform:capitalize;}

/** Content **/

#content {height:auto; overflow:auto; padding-bottom:100px;}

/** Main-Colum **/

#content #main-colum {width:670px; height:auto;float:left;}

#features {height:115px; margin-bottom:40px;}
#features .feature-box {float:left; width:210px; height:115px; background:url(../images/feature-box.png) no-repeat top left; margin-right:20px;}
.feature-box .inside {height:95px;padding:20px 8px 0;}
.feature-box h5 {text-align:center; margin-bottom:10px !important; text-transform:capitalize;}
#main-colum .feature-box img {float:left; margin:0 8px 0 0; border:none; background:none; padding:0;}
.feature-box p {font-size:10px; line-height:14px; margin:0;}
.feature-box p a {color:#6e6e6e; width:100%; height:100%; display:block; text-decoration:none;}
.feature-box p a:hover {text-decoration:underline;}

.more {text-indent:-9999px; display:block; width:80px; height:19px; background:url(../images/learn-more.png) no-repeat top left;}
.more:hover {background:url(../images/learn-more.png) no-repeat bottom left;}

#main-colum img {padding:5px; border:#d0d0d0 1px solid; background:#ebebeb; margin:5px 0 10px; -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius:5px;}

.box {float:left; width:325px; height:auto; margin-right:20px;}
.box-main {float:left; height:auto; margin-right:20px;}

/** Sidebar **/

#content #sidebar {width:250px; height:auto; float:right; overflow:hidden;}

#sidebar .widget {padding:0; margin-bottom:50px;list-style-type: none;}
#sidebar .widget ul {list-style-type: none;padding:0;}
#sidebar .widget li {padding:0;height:30px; line-height:30px; border-bottom:#b9b9b9 1px dotted; background:none;}
#sidebar .widget li:first-child {border-top:#b9b9b9 1px dotted;}
#sidebar .widget li:hover {background:#f0f0f0; padding-left:10px;}
#sidebar .widget li a {color:#545454; height:100%; width:100%; display:block;}
#sidebar .widget li a:hover {color:#80b000;}
#sidebar .widget h3 {margin-bottom:20px;}
#sidebar .widget li.current {background:#f0f0f0; padding-left:10px;}
#sidebar .widget li.current a, #sidebar .widget li.current a:hover {font-weight:bold; color:#80b000;}

#latest-post li.post {margin-bottom:25px; padding-bottom:10px; border-bottom:#b9b9b9 1px dotted; height:auto;} 
#latest-post li.post:hover {background:none; padding-left:0;}
#sidebar #latest-post li:first-child {border-top:none;}
#latest-post li.post a {height:auto; width:auto;}
#latest-post h3 {padding-left:28px;}
#latest-post h5 {font-weight:normal; margin-bottom:5px;}
#latest-post h5 a {color:#797979; text-transform:none;text-decoration:underline;}
#latest-post h5 a:hover {color:#545454;}
#latest-post .post-thumb {padding:5px; border:#d0d0d0 1px solid; background:#ebebeb; float:left; margin:5px 7px 0 0;-moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px;}
#latest-post .post-thumb:hover {background:#dfdfdf;}
#latest-post .post {margin-bottom:25px; padding-bottom:10px; border-bottom:#b9b9b9 1px dotted;}
#latest-post .post p {font-size:10px; line-height:18px;}

#search-box-container {width:230px; height:21px;position:relative; float:right; margin:0 0 0 0;}

#content #sidebar #contact-info img {float:none; -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius:5px;padding:5px; border:#d0d0d0 1px solid; background:#ebebeb; margin:-5px 0 15px;}
#content #sidebar #social-info img {background:transparent none repeat scroll 0 0; border:medium none; padding:0; margin-right:5px;}

/** Header Menu **/

#header_menu {position:absolute;	right:225px; top:0px; box-sizing:border-box; -moz-box-sizing:border-box; -webkit-box-sizing:border-box;}
/** Services **/

.services-post {float:left; height:auto; margin-bottom:60px;}
.services-img {float:left; margin-right:15px !important;}
.view-port {float:left; text-indent:-9999px; display:block; width:110px; height:19px; background:url(../images/view-port.png) no-repeat top left;}
.view-port:hover {background:url(../images/view-port.png) no-repeat bottom left;}

/** Portfolio **/

#full-width {height:auto; position:relative;}

.portfolio-item {float:left; width:260px; border:#d0d0d0 1px solid; background:#f7f7f7; -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius:5px; margin:0 27px 27px 0; padding:20px;}
.port-box { position:relative;}
.port-box .portfolio-zoom {position:absolute; cursor:pointer; height:120px; top:0; left:0; display:none; width:260px;}
.portfolio-item .port-img {background:url(../images/port-bg.png) no-repeat center top; border:none; margin:0 0 5px 0; padding:0;padding-bottom:15px;}
#content #full-width .portfolio-item h3 {margin-bottom:5px;}
#content #full-width .portfolio-item p {margin-bottom:0;}
.img-item {float:left; border:#d0d0d0 1px solid; background:#f7f7f7; -moz-border-radius: 5px; -webkit-border-radius:5px; border-radius:5px; margin:0 27px 27px 0; padding:20px;}
.img-box {float:left; position:relative;}

/** Blog **/

#main-colum .post {float:left; height:auto; margin-bottom:35px; padding-bottom:35px; border-bottom:#b9b9b9 1px dotted;}
#main-colum .post-thumb {float:left; margin:0 10px 0 0;}
#main-colum .post-thumb:hover {background:#dfdfdf;}
.post .entry {float:right; height:auto; width:440px;}
.post h3 {margin-bottom:5px !important; text-transform:capitalize;}
.entry h3 a {color:#80b000;}
.entry h3 a:hover {color:#80b000; text-decoration:none !important;}
.meta {font-size:11px; margin-bottom:5px !important;}
.meta a {color:#80b000;}
.meta a:hover {color:#545454;}

#main-colum .full-post {border-bottom:none;margin-bottom:25px; padding-bottom:25px;}
#main-colum .full-post .entry {width:100%;}

#content .paging {float:left;}
#content .paging a {float:left; background:url(../images/paging-anchor.png) no-repeat top left; text-align:center; display:block; height:23px; width:22px; margin-right:10px; font-size:11px;color:#545454; line-height:22px;}
#content .paging a:hover, #content .paging span.selected {background:url(../images/paging-anchor.png) no-repeat bottom left; text-decoration:none; color:#FFFFFF;}
#content .paging span.selected {float:left; font-weight:bold;text-align:center; display:block; height:23px; width:22px; margin-right:10px; font-size:11px;color:#fff; line-height:22px;}

/** Comments **/

#comments .commentlist {list-style-type:none; list-style-position:outside;}
#comments h3 {margin-bottom:30px !important; text-transform:capitalize;}
#comments .commentlist li {margin-bottom:55px; height:auto; width:630px; overflow:hidden;}
#comments .commentlist a {color:#80B000;}
#comments .commentlist a:hover {color:#545454;}
#comments .commentlist .comment-left {float:left; width:90px; height:100%}
#comments .commentlist .comment-left img {margin:0 0 10px;}
#comments .commentlist .comment-left a {text-align:center; display:block;}
#comments .commentlist .comment-right {float:right; width:490px; overflow:hidden; border:#DDDDDD 1px solid; padding:15px;}
#comments #respond form p small {color:#6E6E6E !important; }
#comments #respond #commentform input, #comments #respond #commentform textarea {font-size:12px; font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif; color:#6E6E6E; 
border:#B0B0B0 1px solid; padding:2px 5px;}
#comments #respond #commentform input {height:18px;}
#comments #respond #commentform #submit {float:left; background:url(../images/submit.png) no-repeat left top; display:block; width:80px; height:30px; cursor:pointer; border:none; text-indent:-9999px;}
#comments #respond #commentform #submit:hover {background:url(../images/submit.png) no-repeat left bottom;}

/** Contact us Form **/

#contact-warp {width:260px; float:left; text-align:left; height:auto;margin-bottom:10px;}
#contact-warp p.label {width:260px; float:left; margin:0;color:#80B000;}
#contact-warp .special {display:none;}

.message {float:left; height:auto; width:500px; background:#FAE673; border:#FEBD63 1px solid; color:#CC6600; display:none; padding:10px;}

#contact-warp input {padding:5px; font-size:12px; width:260px; float:left; font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif; margin-bottom:5px; border:#ababab 1px solid;}
#contact-warp textarea {padding:5px; font-size:12px; width:550px; float:left; font-family: "Lucida Sans Unicode", "Lucida Grande", Garuda, sans-serif; margin-bottom:10px; border:#ababab 1px solid;}

#contact-warp input.submit {float:left; background:url(../images/submit.png) no-repeat left top; display:block; width:80px; height:30px; cursor:pointer; border:none; text-indent:-9999px;}
#contact-warp input.submit:hover {background:url(../images/submit.png) no-repeat left bottom;}

/** Footer **/

#footer .container {padding-top:65px;}

#footer a {color:#a2a2a2;}
#footer a:hover {color:#c7c7c7; text-decoration:underline;}
.fotter-nav {float:left;}
.fotter-nav li {float:left; margin-right:15px; list-style-type: none;}
.copyrights {float:right;}
.copyrights span {color:#a2a2a2;}

.links li {
	padding: 3px 0;
}